<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=1440, user-scalable=yes, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title iMLOv
        link(rel="stylesheet", href="stylesheet/css/normalize.css")
        link(rel="stylesheet", href="stylesheet/css/myTestSass.css")
        link(rel="stylesheet", href="jquery-ui-1.12.1.custom/jquery-ui.css")
        script(src="jquery-3.3.1.min.js")
        script(src="jquery-ui-1.12.1.custom/jquery-ui.js")
        script(src="myScript.js")
    body
        .outerContainer
            .bgi
                img(src="img/bgi1.png", alt="")
                .innerContainer
                    .user
                        img(src="img/userThumb.png", alt="")
                        p.name User
                        p.fColorGrey.tokenYours ATH: 
                            span.token 1000
                        .txt7
                            a(href="#", title="title")
                                img(src="img/iconShare.png", alt="").share 
                    .introCont
                            h1.intro1 About iMLOv
                            p.intro1 We believe that everyone without professional training in informatics is able to master machine learning skills as long as the user-interface is friendly enough. By integrating several well-known machine learning algorithms into an easy-to-use interface, we present the iMLOv system. Using iMLOv can be just making several "next step" clicks. Moreover, this system accepts Excel-compatible CSV files of a simple "one row, one case" format.
                            p.intro1 
                                span Machine learning is an important technique for data classification and making predictions/decisions based on known data. It is also a key to big data analysis and artificial intelligence. In this digital era when all types of data increase explosively (proteomics, genomics, public health…), it is expectable that learning machine learning will become necessary for biologists and medical scientists in the near future. However, most machine learning software is inconvenient for users unfamiliar with programming or command-line operating. Hence, we develop this non-expert-friendly system iMLOv, which integrates decision tree, support vector machine, artificial neural network, and random forest algorithms. It also utilizes a genetic algorithm to help perform feature selections. Hopefully this system will become a useful tool for scientists to move their fields forward.
                            h1.intro2 Welcome to experience AIgatha AI pridictive platform, please choose a project you interested.
                            .introOuter.intro2
                                .introCol.cursorPt.intro2
                                    h3 Dota2 Games Result Data Set
                                    img(src="img/proj1.png", alt="")
                                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam voluptatem accusantium iste quae, laudantium animi enim magnam quis cumque possimus inventore.
                                    p
                                        strong Raw data volumn : 
                                        |1728
                                    p
                                        strong Number of training sets : 
                                        |1152
                                    .introIcon
                                        img(src="img/iconQMark.png", alt="").cursorPt
                                        img(src="img/iconDown.png", alt="").cursorPt
                                .introCol.cursorPt.intro2
                                    h3 Bank
                                    img(src="img/proj2.png", alt="")
                                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam voluptatem accusantium iste quae, laudantium animi enim magnam quis cumque possimus inventore.
                                    p
                                        strong Raw data volumn : 
                                        |1728
                                    p
                                        strong Number of training sets : 
                                        |1152
                                    .introIcon
                                        img(src="img/iconQMark.png", alt="").cursorPt
                                        img(src="img/iconDown.png", alt="").cursorPt
                                .introCol.cursorPt.intro2
                                    h3 Car Evaluation Data Set
                                    img(src="img/proj3.png", alt="")
                                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam voluptatem accusantium iste quae, laudantium animi enim magnam quis cumque possimus inventore.
                                    p
                                        strong Raw data volumn : 
                                        |1728
                                    p
                                        strong Number of training sets : 
                                        |1152
                                    .introIcon
                                        img(src="img/iconQMark.png", alt="").cursorPt
                                        a(href="download folder/CarEvaluationDataSet.zip", title="download file") 
                                            img(src="img/iconDown.png", alt="").cursorPt
                            .setOfTaskPage
                                h1.setOfTask Setting of the Task
                                hr
                                |
                                .infoTrainingData
                                    h3.setOfTask Information of your training data
                                    p Number of cases: 1699
                                    p Number of features: 6
                                hr
                                |
                                h3.setOfTask Testing
                                .formColumn
                                    .sOTInput
                                        input.cursorPt(type="radio" name="settingOfTest" id="nFold" checked)
                                        label.cursorPt(for="nFold") N-fold cross validation
                                        .nFoldDetail
                                            label(for="numFold") Number of folds (n) = 
                                            input(type="text" name="settingOfTestNumOfFold" id="numFold" value="3" disabled)
                                            br
                                            |Groping method : 
                                            input(type="radio" name="gropMethod" id="gropMethodI" checked disabled)
                                            label(for="gropMethodI") Interval
                                            input(type="radio" name="gropMethod" id="gropMethodR" disabled)
                                            label(for="gropMethodR") Random
                                            input(type="radio" name="gropMethod" id="gropMethodS" disabled)
                                            label(for="gropMethodS") Serial
                                        input.cursorPt(type="radio" name="settingOfTest" id="leaveOne" disabled)
                                        label.cursorPt(for="leaveOne") Leave one out (jack knife)
                                        br
                                        |
                                        input.cursorPt(type="radio" name="settingOfTest" id="selfT" disabled)
                                        label.cursorPt(for="selfT") Self-test (using the whole training data set for testing)

                    .mainContent
                        .topImg
                            img.txt1(src="img/diamondDarkest.png", alt="")
                            img.txt2(src="img/diamondDarkest.png", alt="")
                            img.txt3(src="img/diamondDarkest.png", alt="")
                            img.txt4.ani1fortress(src="img/ani1fortress.png", alt="")
                            img.txt5.ani1filesRow(src="img/ani1filesRow.png", alt="")
                            img.txt5.ani1fileSliced(src="img/ani1fileSliced.png", alt="")
                            img.txt5.ani2miners(src="img/ani2miners.png", alt="")
                            img.txt5.ani2file.ani2filesCheck0(src="img/ani2filesCheck0.png", alt="")
                            img.txt5.ani2file.ani2filesCheck1(src="img/ani2filesCheck1.png", alt="")
                            img.txt5.ani2file.ani2filesCheck2(src="img/ani2filesCheck2.png", alt="")
                            img.txt5.ani2file.ani2filesCheck3(src="img/ani2filesCheck3.png", alt="")
                            img.txt5.ani2file.ani2filesCheck4(src="img/ani2filesCheck4.png", alt="")
                            img.txt5.ani2filesCheckSingle(src="img/ani2filesCheckSingle.png", alt="")
                            
                            .txt6
                                h3 Job ID : 
                                p J3112214
                                h3 Return time : 
                                p 2 hr
                                h3 Job capacity : 
                                p 10g
                            .txt6check
                                .colTxt6Check
                                    h2 Data
                                    h3 
                                        span Training file
                                        | CEDS train.csv
                                    h3 
                                        span Prediction file
                                        | CEDS_prediction_test.csv    
                                    h3
                                        span Case files
                                        | Null
                                    h3
                                        span Model file
                                        | Null 
                                .colTxt6Check
                                    h2 Tasks to perform
                                    h3
                                        span Features files
                                        | Training
                                    h3
                                        span Method
                                        | N-fold cross validation
                                    h3
                                        span Number of fold
                                        | 3
                                    h3
                                        span Grouping method
                                        | Interval
                                .colTxt6Check
                                    h2 Algorithms to integrate
                                    h3
                                        span Your algorithms list
                                        p.svm Support Vector Machine
                                        p.ann Artificial Neural Network
                                        p.dt Decision Tree
                                h2 Setting  of the selected algorithms
                                .colTxt6Check.svm 
                                    h3 
                                        span Support Vector Machine
                                    h3
                                        span Forest size
                                        | 100
                                    h3
                                        span Class cases balancing Number
                                        | max*1
                                    h3
                                        span Quick optimization
                                        | Yes
                                    h3
                                        span Log2g trial values
                                        | iMLOv default
                                .colTxt6Check.ann 
                                    h3 
                                        span Artificial Neural Network
                                    h3
                                        span Forest size
                                        | 100
                                    h3
                                        span Class cases balancing Number
                                        | max*1
                                    h3
                                        span Quick optimization
                                        | Yes
                                .colTxt6Check.dt 
                                    h3 
                                        span Decision Tree
                                    h3
                                        span Forest size
                                        | 100
                                    h3
                                        span Class cases balancing Number
                                        | max*1
                                    h3
                                        span Quick optimization
                                        | Yes
                            .txt7
                                .column
                                    .chart#chart1
                                        h3 INTERGRATRESD
                                        p Number of cases : 165.67
                                        p Correct rate : 
                                            span.percentNum 3.82
                                            span.percentSym %
                                        p Error rate : 
                                            span.percentNumError 3.82
                                            span.percentSym %
                                        a(href="download folder/CEDS_prediction_result.csv")
                                            img.cursorPt(src="img/iconDown.png", alt="")
                                        .chartMention
                                            p click download model and prediction
                                        .circleContainer.correct
                                            .circleMaskOuter.left
                                                .circleMaskInner
                                                    .circleBody
                                            .circleMaskOuter.right
                                                .circleMaskInner
                                                    .circleBody
                                        .circleContainer.err
                                            .circleMaskOuter.left
                                                .circleMaskInner
                                                    .circleBody
                                            .circleMaskOuter.right
                                                .circleMaskInner
                                                    .circleBody
                                    .chartProgress
                                        .chartProgItem
                                            h4 AUC
                                            .progressOuter
                                                .progressInner
                                            p 0.985
                                        .chartProgItem
                                            h4 SEN
                                            .progressOuter
                                                .progressInner
                                            p 0.685
                                        .chartProgItem
                                            h4 SPC
                                            .progressOuter
                                                .progressInner
                                            p 0.585
                                        .chartProgItem
                                            h4 FPR
                                            .progressOuter
                                                .progressInner
                                            p 0.225
                                        .chartProgItem
                                            h4 FNR
                                            .progressOuter
                                                .progressInner
                                            p 0.050
                                        .chartProgItem
                                            h4 MCC
                                            .progressOuter
                                                .progressInner
                                            p 0.685
                                .column
                                    .chart#chart2
                                        h3 Support Vector Machine
                                        p Number of cases : 165.67
                                        p Correct rate : 
                                            span.percentNum 5.42
                                            span.percentSym %
                                        p Error rate : 
                                            span.percentNumError 5.42
                                            span.percentSym %
                                        a(href="download folder/CEDS_prediction_result.csv")
                                            img.cursorPt(src="img/iconDown.png", alt="")
                                        .chartMention
                                            p click download model and prediction
                                        .circleContainer.correct
                                            .circleMaskOuter.left
                                                .circleMaskInner
                                                    .circleBody
                                            .circleMaskOuter.right
                                                .circleMaskInner
                                                    .circleBody
                                        .circleContainer.err
                                            .circleMaskOuter.left
                                                .circleMaskInner
                                                    .circleBody
                                            .circleMaskOuter.right
                                                .circleMaskInner
                                                    .circleBody
                                    .chartProgress
                                        .chartProgItem
                                            h4 AUC
                                            .progressOuter
                                                .progressInner
                                            p 0.985
                                        .chartProgItem
                                            h4 SEN
                                            .progressOuter
                                                .progressInner
                                            p 0.985
                                        .chartProgItem
                                            h4 SPC
                                            .progressOuter
                                                .progressInner
                                            p 0.785
                                        .chartProgItem
                                            h4 FPR
                                            .progressOuter
                                                .progressInner
                                            p 0.225
                                        .chartProgItem
                                            h4 FNR
                                            .progressOuter
                                                .progressInner
                                            p 0.050
                                        .chartProgItem
                                            h4 MCC
                                            .progressOuter
                                                .progressInner
                                            p 0.685
                                .column
                                    .chart#chart3
                                        h3 Artificial Neural Network
                                        p Number of cases : 165.67
                                        p Correct rate : 
                                            span.percentNum 4.38
                                            span.percentSym %
                                        p Error rate : 
                                            span.percentNumError 4.38
                                            span.percentSym %
                                        a(href="download folder/CEDS_prediction_result.csv")
                                            img.cursorPt(src="img/iconDown.png", alt="")
                                        .chartMention
                                            p click download model and prediction
                                        .circleContainer.correct
                                            .circleMaskOuter.left
                                                .circleMaskInner
                                                    .circleBody
                                            .circleMaskOuter.right
                                                .circleMaskInner
                                                    .circleBody
                                        .circleContainer.err
                                            .circleMaskOuter.left
                                                .circleMaskInner
                                                    .circleBody
                                            .circleMaskOuter.right
                                                .circleMaskInner
                                                    .circleBody
                                    .chartProgress
                                        .chartProgItem
                                            h4 AUC
                                            .progressOuter
                                                .progressInner
                                            p 0.985
                                        .chartProgItem
                                            h4 SEN
                                            .progressOuter
                                                .progressInner
                                            p 0.985
                                        .chartProgItem
                                            h4 SPC
                                            .progressOuter
                                                .progressInner
                                            p 0.785
                                        .chartProgItem
                                            h4 FPR
                                            .progressOuter
                                                .progressInner
                                            p 0.225
                                        .chartProgItem
                                            h4 FNR
                                            .progressOuter
                                                .progressInner
                                            p 0.050
                                        .chartProgItem
                                            h4 MCC
                                            .progressOuter
                                                .progressInner
                                            p 0.685
                                .column
                                    .chart#chart4
                                        h3 Decision Tree
                                        p Number of cases : 165.67
                                        p Correct rate : 
                                            span.percentNum 1.42
                                            span.percentSym %
                                        p Error rate : 
                                            span.percentNumError 1.42
                                            span.percentSym %
                                        a(href="download folder/CEDS_prediction_result.csv")
                                            img.cursorPt(src="img/iconDown.png", alt="")
                                        .chartMention
                                            p click download model and prediction
                                        .circleContainer.correct
                                            .circleMaskOuter.left
                                                .circleMaskInner
                                                    .circleBody
                                            .circleMaskOuter.right
                                                .circleMaskInner
                                                    .circleBody
                                        .circleContainer.err
                                            .circleMaskOuter.left
                                                .circleMaskInner
                                                    .circleBody
                                            .circleMaskOuter.right
                                                .circleMaskInner
                                                    .circleBody
                                    .chartProgress
                                        .chartProgItem
                                            h4 AUC
                                            .progressOuter
                                                .progressInner
                                            p 0.985
                                        .chartProgItem
                                            h4 SEN
                                            .progressOuter
                                                .progressInner
                                            p 0.985
                                        .chartProgItem
                                            h4 SPC
                                            .progressOuter
                                                .progressInner
                                            p 0.285
                                        .chartProgItem
                                            h4 FPR
                                            .progressOuter
                                                .progressInner
                                            p 0.225
                                        .chartProgItem
                                            h4 FNR
                                            .progressOuter
                                                .progressInner
                                            p 0.050
                                        .chartProgItem
                                            h4 MCC
                                            .progressOuter
                                                .progressInner
                                            p 0.685
                                .columnFooter
                                    p Thank you, click the right button to share this experience and get rewards.
                            .txt7mask
                        .textBlock
                            p.txt1 Hi, welcome to IM platform, Everyone have 100,000 ATH to exprience this game, choose your project first.
                            p.txt2 Then , select your computing tool. The more options you choose, the more precise operation and the better result.
                            p.txt3 Next step, upload your project data to your computer for quick assessment.
                            p.txt5 Let's check it, now.
                            p.txt6 This is your task. Please select the calculation settings. You will be able to know the time and cost of the assessment.
                        .option.txt1
                            form.txt1
                                input.cursorPt(type="checkbox" name="task" id="Training" checked)
                                label.cursorPt(for="Training") Training
                                input.cursorPt(type="checkbox" name="task" id="Independent test" disabled)
                                label.cursorPt(for="Independent test") Independent test
                                input.cursorPt(type="checkbox" name="task" id="Prediction" checked)
                                label.cursorPt(for="Prediction") Prediction
                                input.cursorPt(type="submit", value="Next >")
                        .option.txt2
                            h2 Algorithms
                            form.txt2
                                .formColumn
                                    .t2colInput
                                        input.cursorPt.svm(type="checkbox" name="algorithmSVM" id="supVMinputCheck" value="1")
                                        label.cursorPt(for="supVMinputCheck") Support Vector Machine
                                        br
                                        |
                                        label(for="supVMinputFzText") Forest size : 
                                        input(type="text" name="forestSzSVM" id="supVMinputFzText" value="100" disabled)
                                        br
                                        |
                                        label(for="supVMinputCbText") Class cases balancing number : 
                                        input(type="text" name="classCasesSVM" id="supVMinputCbText" value="max*1" disabled)
                                        br
                                        |Quick optimization : 
                                        input(type="radio" name="quiOptmztionSVM" id="supVMinputRadioY" checked disabled)
                                        label(for="supVMinputRadioY") Yes
                                        input(type="radio" name="quiOptmztionSVM" id="supVMinputRadioN" disabled)
                                        label(for="supVMinputRadioN") No
                                    .t2colInput
                                        input.cursorPt.ann(type="checkbox" name="algorithmANN" id="artiNNinputCheck" value="1")
                                        label.cursorPt(for="artiNNinputCheck") Artificial Noural Network
                                        br
                                        |
                                        label(for="artiNNinputFzText") Forest size : 
                                        input(type="text" name="forestSzANN" id="artiNNinputFzText" value="100" disabled)
                                        br
                                        |
                                        label(for="artiNNinputCbText") Class cases balancing number : 
                                        input(type="text" name="classCasesANN" id="artiNNinputCbText" value="max*1" disabled)
                                        br
                                        |Quick optimization : 
                                        input(type="radio" name="quiOptmztionANN" id="artiNNinputRadioY" checked disabled)
                                        label(for="artiNNinputRadioY") Yes
                                        input(type="radio" name="quiOptmztionANN" id="artiNNinputRadioN" disabled)
                                        label(for="artiNNinputRadioN") No
                                    .t2colInput
                                        input.cursorPt.dt(type="checkbox" name="algorithmDT" id="deciTreeinputCheck" value="1")
                                        label.cursorPt(for="deciTreeinputCheck") Decision Tree
                                        br
                                        |
                                        label(for="deciTreeinputFzText") Forest size : 
                                        input(type="text" name="forestSzDT" id="deciTreeinputFzText" value="100" disabled)
                                        br
                                        |
                                        label(for="deciTreeinputCbText") Class cases balancing number : 
                                        input(type="text" name="classCasesDT" id="deciTreeinputCbText" value="max*1" disabled)
                                        br
                                        |Quick optimization : 
                                        input(type="radio" name="quiOptmztionDT" id="deciTreeinputRadioY" checked disabled)
                                        label(for="deciTreeinputRadioY") Yes
                                        input(type="radio" name="quiOptmztionDT" id="deciTreeinputRadioN" disabled)
                                        label(for="deciTreeinputRadioN") No
                                input(type="submit", value="Next >") 
                        .option.txt3
                            h2 
                            form.txt3
                                input(type="radio" name="data" id="excel" disabled)
                                label(for="excel") Excel/CSV files upload
                                br
                                |
                                input(type="radio" name="data" id="standard" disabled)
                                label(for="standard") Standard iMLOv input files upload
                                br
                                |
                                input(type="radio" name="data" id="template" checked)
                                label(for="template") template project
                                br
                                |
                                input(type="radio" name="data" id="previous" disabled)
                                label(for="previous") Previous Job ID
                                br
                                |
                                input(type="submit", value="Next >") 
                        .option.txt4
                            .txt5.progressOuter
                                .progressInner
                            img.ani1monitor(src="img/ani1monitor.png", alt="")
                            img.ani1fileSingle(src="img/ani1fileSingle.png", alt="")
                        .option.txt6
                            h3
                            label(for="amountTask") Task:
                            input#amountTask(type="text", name="amountTask")
                            #slider.sliderTask
                                .sliderMiddleLine
                            h3
                            label(for="amountMiner") Miners:
                            input#amountMiner(type="text", name="amountMiner")
                            #slider.sliderMiners
                                .sliderMiddleLine
                        .hint
                            form.txt1
                                input(type="checkbox" name="task" id="Testing" disabled)
                                label(for="Testing") Testing
                        .widerHint 
                            p.txt1 Select the tasks you would like to perform. Additional option will appears as you hit the checkboxes.
                            p.txt4.textBlock The mission will be uploaded to the Chronos Fortress,
                                br
                                |after evaluation of the operation, the return data.
                            p.txt5.textBlock The machine will cut the project into equal parts, 
                                br
                                |extract one of them and evaluate the report.
                            .txt6
                                .cost.costTime
                                    img(src="img/iconTime.png", alt="")
                                    .progressOuter
                                        .progressInner
                                    #costTimeTxt  
                                        span 2
                                        |  hr
                                .cost.costCoin
                                    img(src="img/iconAIcoin.png", alt="")
                                    .progressOuter
                                        .progressInner
                                    #costCoinTxt 
                                        span 70
                                        |  ATH
                    .nextBtn.cursorPt.next.intro1 
                        img(src="img/arrowPre.png", alt="")
                    .nextBtn.cursorPt.next.intro2 
                        img(src="img/arrowPre.png", alt="")
                    .nextBtn.cursorPt.last.intro2 
                        img(src="img/arrowPre.png", alt="")
                    .nextBtn.cursorPt.next.txt1 
                        img(src="img/arrowPre.png", alt="")
                    .nextBtn.cursorPt.last.txt1 
                        img(src="img/arrowPre.png", alt="")
                    .nextBtn.cursorPt.next.setOfTaskPage 
                        img(src="img/arrowPre.png", alt="")
                    .nextBtn.cursorPt.last.setOfTaskPage 
                        img(src="img/arrowPre.png", alt="")
                    .nextBtn.cursorPt.next.txt2 
                        img(src="img/arrowPre.png", alt="")
                    .nextBtn.cursorPt.last.txt2 
                        img(src="img/arrowPre.png", alt="")
                    .nextBtn.cursorPt.next.txt3 
                        img(src="img/arrowPre.png", alt="")
                    .nextBtn.cursorPt.last.txt3 
                        img(src="img/arrowPre.png", alt="")
                    .nextBtn.cursorPt.next.txt4 
                        img(src="img/arrowPre.png", alt="")
                    .nextBtn.cursorPt.last.txt4 
                        img(src="img/arrowPre.png", alt="")
                    .nextBtn.cursorPt.next.txt5 
                        img(src="img/arrowPre.png", alt="")
                    .nextBtn.cursorPt.last.txt5 
                        img(src="img/arrowPre.png", alt="")
                    .nextBtn.cursorPt.next.txt6 
                        img(src="img/arrowPre.png", alt="")
                    .nextBtn.cursorPt.last.txt6 
                        img(src="img/arrowPre.png", alt="")
                    .nextBtn.cursorPt.next.txt6check 
                        img(src="img/arrowPre.png", alt="")
                    .nextBtn.cursorPt.last.txt6check 
                        img(src="img/arrowPre.png", alt="")
                    .nextBtn.cursorPt.next.txt7pre 
                        img(src="img/arrowPre.png", alt="")
                    .nextBtn.cursorPt.last.txt7pre 
                        img(src="img/arrowPre.png", alt="")
                    .nextBtn.cursorPt.last.txt7 
                        img(src="img/arrowPre.png", alt="")
                    
                .footer
                    .toggleRound.cursorPt.toggleBgi
                    .footerInner The intergrated Machine Learning and Optimization Server
                        img(src="img/logoCorner.png", alt="")
